@model WebApplication1.Models.Patient

<form method="post" action="Create">
	<div>
		<input type="text" asp-for="Name" placeholder="Name"/>
		<input type="text" asp-for="Phone" placeholder="Phone" />
		<input type="submit" value="submit"/>

	</div>

</form>