@model Crime.Models.Case

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4><a asp-action="Index" class="text-dark me-2 text-decoration-none" title="Back to List"><i class="bi bi-arrow-left"></i></a> Case</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="row mb-3">
                <label asp-for="CaseDescription" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <input asp-for="CaseDescription" class="form-control" />
                    <span asp-validation-for="CaseDescription" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-sm-9 offset-sm-3">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
