@model Crime.Models.Officer

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4><a asp-action="Index" class="text-dark me-2 text-decoration-none" title="Back to List"><i class="bi bi-arrow-left"></i></a> Officer</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row mb-3">
                <label asp-for="FirstName" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label asp-for="LastName" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label asp-for="BadgeNumber" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <input asp-for="BadgeNumber" class="form-control" />
                    <span asp-validation-for="BadgeNumber" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label asp-for="Rank" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <input asp-for="Rank" class="form-control" />
                    <span asp-validation-for="Rank" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label asp-for="PhoneNumber" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label asp-for="AgencyId" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <select asp-for="AgencyId" class ="form-control" asp-items="ViewBag.AgencyId"></select>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-sm-9 offset-sm-3">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
