@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <span style="color:tomato">@ViewBag.Message</span>
    <br />
    <span style="color:blue">@ViewData["Display"]<span>Test Data</span></span>
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
